.about {
  margin-bottom: 10vh;

  @include desktop {
    max-width: $screenWidth;
    margin: 0 auto;
  }

  .container {
    padding: 3rem;
    display: flex;
    flex-direction: column;

    @include desktop {
      position: relative;
    }

    div {
      margin-bottom: 3rem;
    }

    .about-bg {
      background: url("./img/about-bg.png");
      background-size: cover;
      min-height: 433px;
      width: 100%;
      margin-top: 2rem;
    }

    h3 {
      font-size: 3rem;
      margin: 1rem 0;
      line-height: 1.5;
      text-align: center;
      font-family: "Campton-Bold";
    }
    p {
      font-size: 1rem;
      font-family: "Campton-Book";
      line-height: 1.5;
      margin-bottom: 2rem;
    }
    .back {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      border: 1px solid $grey;
      border-radius: 50%;
      background-color: $white;
      transform: rotate(45deg);

      svg {
        margin: 0 auto;
        display: block;
        padding-top: 12.5px;
        stroke: black;
      }
    }
    .team {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 3rem;

      @include desktop {
        flex-direction: row;
      }

      div {
        text-align: center;
        @include desktop {
          padding: 10px;
        }

        img {
          width: 100%;
          height: auto;
          max-height: 164px;
          max-width: 164px;

          @include desktop {
            width: 90%;
          }
        }
        h4 {
          font-size: 1.5rem;
          margin: 1rem 0 0 0;
          font-family: "Campton-Bold";
        }
        p {
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 3rem;
          font-family: "Campton-Book";
        }
      }
    }
    .careers {
      svg {
        margin: 0 auto;
        display: block;
        padding-top: 12.5px;
        stroke: black;
        max-width: 700px;
      }
      h4 {
        text-align: center;
        font-size: 3rem;
        margin: 2rem 0 3rem 0;
        font-family: "Campton-Bold";
      }
      p {
        text-align: center;
        font-family: "Campton-Book";
        font-size: 1rem;
      }
    }
  }
  .signup-container {
    h4 {
      text-align: center;
      font-size: 3rem;
      margin: 2rem 0 3rem 0;
      font-family: "Campton-Bold";
    }
  }
}
