.about {
  margin-bottom: 10vh;
  .container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 2rem;
      margin: 1rem 0;
      line-height: 1.5;
      display: flex;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 2rem;
    }
    .back {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      border: 1px solid $grey;
      border-radius: 50%;
      background-color: $white;
      transform: rotate(45deg);
  
      svg {
        margin: 0 auto;
        display: block;
        padding-top: 12.5px;
        stroke: black;
      }
    }
    .team {
      img {
        width: 100%;
        height: auto;
        border: 10px solid $black;
      }
      h4 {
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
        font-weight: 300;
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 3rem;
      }
    }
    .careers {
      svg {
        margin: 0 auto;
        display: block;
        padding-top: 12.5px;
        stroke: black;
      }
      h4 {
        text-align: center;
        font-size: 1.5rem;
        margin: 2rem 0 3rem 0;
      }
      p {
        text-align: center;
        font-size: 1rem;
      }
    }
  }
}