.blog-page-container {
  margin-bottom: 20vh;
  .blog-page-top {
    min-height: 40vh;
    background: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      &.blog-page-title {
        display: flex;
        flex: 4;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 3rem;
          margin: 1rem 0;
          line-height: 1.5;
          text-align: center;
          font-family: "Campton-Bold";
          font-weight: bold;
          letter-spacing: -0.8px;
        }
      }
      &.blog-page-meta {
        display: flex;
        width: 100%;
        color: $white;
        background: $black;
        height: 5vh;
        justify-content: space-around;
        flex: 1;
        align-items: center;
        max-width: $screenWidth;
        margin: 0 auto;

        div {
          display: flex;
          flex: 1;
          &:first-of-type {
            display: flex;
            flex: 4;
          }

          p {
            font-family: "Campton-Bold";
            line-height: 1.5;
            em {
              font-weight: 300;
              font-family: "Campton-Book";
            }
          }
        }
      }
    }
  }
  .blog-page-wrapper {
    max-width: $screenWidth;
    margin: 0 auto;

    hr {
      margin: 5rem 0;
      border-top: 1px solid $grey-blue;
    }

    .blog-related {
      .posts {
        margin-top: 2rem;
        display: grid;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        justify-content: space-between;
        grid-template-columns: repeat(1, 1fr);

        @include desktop {
          grid-column-gap: 2rem;
          grid-row-gap: 2rem;
          grid-template-columns: repeat(2, 1fr);
        }

        .blog-post {
          margin: 0;
          padding: 2rem 5rem;
          text-align: left;

          p {
            width: 100%;
            max-width: 100%;
            margin: 0;
          }
        }
      }
      h3 {
        font-size: 2.5rem;
        margin: 1rem 0;
        line-height: 1.5;
        text-align: center;
        font-family: "Campton-Bold";
        font-weight: bold;
        letter-spacing: -0.8px;
      }
      h4 {
        font-size: 1rem;
        margin: 5rem 0;
        line-height: 1.5;
        text-align: center;
        font-family: "Campton-Bold";
        font-weight: bold;
        letter-spacing: -0.8px;
      }
      p {
        margin: 0 auto;
        max-width: 100%;
        text-align: center;

        @include desktop {
          max-width: 50%;
        }
      }
    }

    .content {
      margin-bottom: 3rem;

      p {
        margin: 3rem 0;
        font-family: "Campton-Book";
        font-size: 1.125rem;
        line-height: 1.2;

        & strong {
          font-family: "Campton-Medium";
          font-weight: 400;
        }
      }

      .wp-block-quote {
        background-color: $grey-blue;
        padding: 1rem;

        p {
          margin: 2rem;
          font-family: "Campton-Medium";
          font-weight: 400;
        }
      }

      .wp-block-image {
        max-width: 100%;
        height: auto;
        margin: 3rem 0;
        text-align: center;
        margin-bottom: 6rem;

        img {
          max-width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
    }

    .text-link {
      &.back {
        margin-left: 3rem;
        svg {
          left: -3rem;
          top: 0px;
          transform: rotate(0deg);
        }
      }
    }
  }
}
