.blog-post {
  padding: 2rem 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $grey;
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    flex: 1;
    background-color: $light-blue;
    padding: 2rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .meta {
    font-family: "Campton-Bold";
    font-weight: bold;
    letter-spacing: -0.8px;
  }

  h2 {
    font-size: 1.5rem;
    margin: 2rem 0;
    font-family: "Campton-Bold";
    font-weight: bold;
    letter-spacing: -0.8px;

    @include desktop {
      font-size: 2rem;
    }
  }

  &:last-of-type {
    border-bottom: none;
  }

  .content {
    padding: 1rem 0;
    display: block;
    p {
      margin: 0.5rem 0;
    }

    img {
      width: 100%;
      height: auto;
      border: 10px solid $black;

      @include desktop {
        height: auto;
        width: auto;
      }
    }
  }

  .meta {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
  }
}
