.contact {
  margin-bottom: 10vh;
  min-height: 90vh;

  .contact-notification {
    position: fixed;
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #00ffa3, #dfff1f);
    transition: all 100ms ease-in;
    opacity: 0;

    &.show {
      opacity: 1;
      height: 75px;
    }

    p {
      width: 100%;
      text-align: center;
    }
  }

  .container {
    @include desktop {
      max-width: $screenWidth;
      margin: 0 auto;
      position: relative;
    }

    .back {
      position: absolute;
      cursor: pointer;
      top: 2rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      border: 1px solid $grey;
      border-radius: 50%;
      background-color: $white;
      transform: rotate(45deg);

      svg {
        margin: 0 auto;
        display: block;
        padding-top: 12.5px;
        stroke: black;
      }
    }

    padding: 6rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }

    div {
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-basis: 66%;

      &:first-of-type {
        flex-basis: 33%;
      }
    }

    .btn-container {
      padding: 2rem 2rem 2rem 0;
    }

    h3 {
      font-size: 3rem;
      margin: 1rem 0;
      line-height: 1.5;
      font-family: "Campton-Bold";
      letter-spacing: -0.8px;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 2rem;
    }

    .people-contact {
      margin-top: 2rem;
      font-size: 1.125rem;
      font-family: "Campton-Bold";
      font-weight: bold;
      letter-spacing: -0.8px;
    }

    .people-list {
      padding-bottom: 2rem;
      li {
        color: lighten($black, 75%);
        font-size: 1.25rem;
        line-height: 2;
        cursor: pointer;
        &.selected {
          color: $black;
        }
      }
    }
  }

  textarea {
    outline: none;
    resize: none;
    overflow: auto;
    height: 300px;
    padding: 1rem;
    line-height: 2;
    font-size: 1.25rem;
    border: solid 1px $grey-blue;
  }

  input {
    &::-webkit-input-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }

    &::-ms-placeholder {
      color: $white;
    }

    &::placeholder {
      color: $white;
    }

    background-color: transparent;
    border: none;
    color: $white;
    border-bottom: 1px solid $white;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 2rem 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
  }
}
