.cookie-banner {
  height: 168px;
  background-image: linear-gradient(to right, #ff0000, #ffca42);
  display: flex;
  flex-direction: column;
  transition: height 0.25s ease-in-out;
  text-align: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 4;

  @include mobile {
    padding: 0.5rem;
    width: calc(100% - 1rem);
  }

  .cookie-link {
    text-decoration: underline;
    cursor: pointer;
  }

  .show-cookie-prefs {
    cursor: pointer;
    width: 100%;
  }

  .cookie-preferences {
    padding-top: 2rem;

    @include desktop {
      padding-top: 0;
    }
  }

  h3 {
    font-size: 1.5rem;
    padding-top: 1.5rem;

    @include desktop {
      padding-top: 0;
      font-size: 1rem;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      margin: 0 0.25rem;
    }
  }

  p {
    font-size: 1rem;
    padding-bottom: 0.75rem;

    @include desktop {
      padding-bottom: 0;
    }
  }

  &.hidden {
    height: 26px;

    span {
      padding-top: 6px;
    }
  }

  @include desktop {
    height: 65px;
    flex-direction: row;
    align-items: center;
  }
}