.faq {
  margin-bottom: 10vh;

  @include desktop {
    margin-bottom: 20vh;
  }

  .container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: $screenWidth;
    margin: 0 auto;
    position: relative;
    h2 {
      font-family: "Campton-Bold";
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: -0.96px;
      margin: 9rem 0;

      &.bottom {
        margin: 3rem 0;
      }
    }
    h3 {
      font-size: 3rem;
      margin: 6rem 0;
      font-family: "Campton-Bold";
      font-weight: bold;
      letter-spacing: -0.96px;

      &.bottom {
        margin: 3rem 0;
      }
    }
    p {
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: 2rem;
      font-family: "Campton-Book";
    }
    .back {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      border: 1px solid $grey;
      border-radius: 50%;
      background-color: $white;
      transform: rotate(45deg);
      cursor: pointer;

      svg {
        margin: 0 auto;
        display: block;
        padding-top: 12.5px;
        stroke: black;
      }
    }
  }
}
