@font-face {
  font-family: "CamptonMedium";
  src: url("./Fonts/CamptonMedium.eot");
  src: url("./Fonts/CamptonMedium.eot?#iefix") format("embedded-opentype"), url("./Fonts/CamptonMedium.woff2") format("woff2"),
    url("./Fonts/CamptonMedium.woff") format("woff"), url("./Fonts/CamptonMedium.ttf") format("truetype");
}

@font-face {
  font-family: "CamptonLight";
  src: url("./Fonts/CamptonLight.eot");
  src: url("./Fonts/CamptonLight.eot?#iefix") format("embedded-opentype"), url("./Fonts/CamptonLight.woff2") format("woff2"),
    url("./Fonts/CamptonLight.woff") format("woff"), url("./Fonts/CamptonLight.ttf") format("truetype");
}
