.menu {
  position: fixed;
  top: 0px;
  opacity: 0;
  bottom: 0px;
  right: -100vw;
  display: flex;
  display: -webkit-flex;
  flex-flow: column nowrap;
  background-color: $white;
  color: $black;
  font-size: 1.5em;
  width: 100vw;
  transition: all 0.35s;
  z-index: 5;

  &.open {
    right: 0px;
    overflow: scroll;
    opacity: 100;

    @include desktop {
      overflow: hidden;
    }
  }

  .signup {
    background: none;
  }
}

.menu-footer {
  background: $light-blue;
  padding: 2rem 4rem;
  line-height: 1.2;
  font-size: 1.25rem;
  text-align: justify;
}

.menu-content {
  min-height: 100vh;
  background-color: $white;
  flex-direction: column;
  text-align: left;
  display: flex;
  display: -webkit-flex;
  padding: 2rem 4rem;
  margin-bottom: 3rem;

  @include desktop {
    display: flex;
    min-height: 62vh;
    margin-bottom: 0;

    .menu-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  .menu-content-box {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex: 1;
    }
  }

  h4 {
    margin: 2rem 0.125rem;
    font-weight: 700;
    font-size: 1.5rem;
  }

  a {
    font-size: 1rem;
    color: $black;
    text-decoration: none;
    margin: 1rem 0.125rem;

    &:visited,
    &:focus {
      color: $black;
    }

    &:hover {
      color: lighten($black, 20%);
    }
  }
}

.menu-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100vh;

  .menu-header {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    padding: 2rem 0rem;
    line-height: 3rem;
    position: relative;
    min-height: 40vh;
    background-image: linear-gradient(to right, #0085ff, #131163);

    @include tablet {
      padding: 5rem 1rem !important;
      // hate doing this
    }

    @include desktop {
      min-height: 12.5vh;
      display: flex;
      flex-direction: row;
      padding: 2rem 10rem 2rem 5rem;

      .menu-beta,
      input {
        flex: 1;
      }
    }

    .btn-container {
      display: flex;
      padding-top: 3rem;
      justify-content: flex-start;

      @include desktop {
        display: flex;
        padding-top: 0;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding-top: 3rem;
      }
    }
  }
  .menu-title {
    text-align: left;
    color: $white;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .menu-beta {
    text-align: left;
    color: $white;
    margin-top: 2rem;
    font-size: 1.75rem;
    font-weight: 700;
  }
  .cross {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    border: 1px solid $grey;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;

    @include desktop {
      right: 10rem;
    }

    svg {
      margin: 0 auto;
      display: block;
      padding-top: 12.5px;
      stroke: black;
    }
  }
}
