.nav {
  overflow: hidden;
  background-color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  z-index: 4;
  display: flex;

  .nav-wrapper {
    max-width: $screenWidth;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  .nav-logo {
    height: 100%;
    text-align: left;
    display: flex;
    flex: 1;
    font-family: "Campton-Bold";

    p {
      font-size: 1.5rem;
      color: $black;
      vertical-align: middle;
      line-height: 10vh;
      padding-left: 2rem;
    }
  }

  .nav-toggle {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25rem;
    input {
      display: none;
      width: 50%;
      height: 80px;
    }

    label {
      margin-left: 10px;
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      padding: 0.75rem;
    }

    label div {
      position: relative;
      top: 5px;
      height: 3px;
      background-color: $black;
      margin-bottom: 6px;
      transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
        0.3s ease right;
      border-radius: 2px;
    }

    label div:first-child {
      transform-origin: 0;
    }

    label div:last-child {
      margin-bottom: 0;
      transform-origin: 50px;
    }

    label div:nth-child(2) {
      right: 0;
      width: 30px;
    }

    a {
      position: absolute;
      top: 80%;
      right: 0;
      left: 0;
      display: block;
      width: 180px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-family: Helvetica, arial;
      text-decoration: none;
      line-height: 1;
      padding: 16px;
      margin: 0 auto;
      border: 2px solid #fff;
      border-radius: 2px;
      z-index: 1;
    }
  }

  &.dark {
    background-color: $black;
    color: $white;
    width: 100%;

    @include desktop {
      width: calc(100% - 25%);
      padding-left: 12.5%;
      padding-right: 12.5%;
    }

    .nav-logo {
      p {
        color: $white;
      }
    }

    .nav-toggle {
      label {
        right: 12.5%;
      }
      label div {
        background-color: $white;
      }
    }
  }
}
