.signup {
  background-color: $blue;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  padding: 1rem 2rem;
  line-height: 3rem;
  position: relative;
  min-height: 30vh;

  .signup-form {
    &:first-of-type {
    @include desktop {
      flex: 5;
      margin: 1rem 1rem 1rem 2rem;
    }
  }
  div {
      font-size: 0.75rem;
      margin: 0;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    min-height: 0;
    width: 100%;
    padding: 1rem 4rem;
  }

  .btn-container {
    padding-left: 0rem;

    @include desktop {
      flex: 2;
      justify-content: center;
      padding-top: 3rem;
      padding-left: 2rem;
    }
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 0 0 0rem;
    color: $white;
    text-align: left;

    @include desktop {
      flex: 3;
    }
  }
  
  input {

    &::-webkit-input-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }

    &::-ms-placeholder {
      color: $white;
    }

    &::placeholder {
      color: $white;
    }

    background-color: transparent;
    border: none;
    color: $white;
    border-bottom: 1px solid $white;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 75%;
    font-size: 16px;
    margin: 1rem 1rem 1rem 0rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
  }
}