.signup {
  background-image: linear-gradient(to right, #0085ff, #131163);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  line-height: 3rem;
  position: relative;
  min-height: 25vh;
  justify-content: center;
  padding: 0 0 0 1rem;
  color: inherit;
  justify-content: space-around;

  .signup-form {
    &:first-of-type {
      @include desktop {
        flex: 5;
        margin: 1rem 1rem 1rem 2rem;
      }
    }
    div {
      font-size: 0.75rem;
      margin: 0;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    min-height: 15vh;
    width: calc(100% - 8rem);
    padding: 1rem 4rem;
    align-items: center;
    text-align: center;
  }

  .btn-container {
    padding-left: 0rem;
    color: inherit;

    @include desktop {
      flex: 2;
      justify-content: center;
      padding-top: 1rem;
      padding-left: 2rem;
    }
  }

  .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: inherit;
    text-align: left;

    @include desktop {
      font-size: 1.5rem;
      flex: 3;
    }
  }

  input {
    &::-webkit-input-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }

    &::-ms-placeholder {
      color: $white;
    }

    &::placeholder {
      color: $white;
    }

    background-color: transparent;
    border: none;
    color: $white;
    border-bottom: 1px solid $white;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 100%;
    font-size: 14px;
    margin: 0rem 1rem 1rem 0rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;

    @include desktop {
      margin: 1rem 1rem 1rem 0rem;
      width: 75%;
      height: 3rem;
      font-size: 16px;
    }
  }

  &.light {
    background-image: none;
    background: $grey-blue;
    color: $black;

    input {
      color: $black;
      border-bottom: 1px solid $black;
      &::-webkit-input-placeholder {
        color: $black;
      }

      &::-moz-placeholder {
        color: $black;
      }

      &::-ms-placeholder {
        color: $black;
      }

      &::placeholder {
        color: $black;
      }
    }
  }
}
