$white: #fff;
$blue: #142a7a;
$dark-blue: #000014;
$black: #000;
$grey: #e2dbdb;
$light-blue: #f1f4ff;
$yellow: #fec566;
$red: #e94357;
$green: #339a5e;

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

$screenWidth: 1200px;
