@import "./reset";
@import "./vars";
@import "./fonts";
@import "./about";
@import "./home";
@import "./menu";
@import "./nav";
@import "./advice";
@import "./faq";
@import "./blog";
@import "./contact";
@import "./button";
@import "./signup";
@import "./cookies";

.app-container {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.video-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;

  @include desktop {
    height: 90vh;
  }
}

.text-link {
  cursor: pointer;
  font-family: 'Campton-Bold';
  color: $black;
  position: relative;

  svg {
    transform: rotate(180deg);
    color: $black;
    min-width: 0 !important;
    position: absolute;
    right: -64px;
  }
}

.video-overlay {
  position: absolute;
  left: 0px;
  width: 100vw;
  z-index: 3;
  top: 0px;
  background-color: rgba(50,50,50,0.3);
  height: 100vh;
}

.cover-video {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  -webkit-filter: sepia(50%) grayscale(0%) blur(1px) hue-rotate(190deg) saturate(100%);
  filter: sepia(50%) grayscale(0%) blur(1px) hue-rotate(190deg) saturate(100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Campton-Medium", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-font {
  font-family: -apple-system, BlinkMacSystemFont, "Campton-Light", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.book-font {
  font-family: -apple-system, BlinkMacSystemFont, "Campton-Book", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-link {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.noscroll {
  overflow: hidden;
}

.desktop-only {
  @include mobile {
    display: none;
  }
}

.mobile-only {
  @include desktop {
    display: none;
  }
}
