@import "./reset";
@import "./vars";
@import "./fonts";
@import "./about";
@import "./home";
@import "./menu";
@import "./nav";
@import "./advice";
@import "./faq";
@import "./blog";
@import "./contact";
@import "./button";
@import "./signup";

.app-container {
  text-align: center;
  position: relative;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "CamptonMedium", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-font {
  font-family: -apple-system, BlinkMacSystemFont, "CamptonLight", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.book-font {
  font-family: -apple-system, BlinkMacSystemFont, "CamptonBook", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-link {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.noscroll {
  overflow: hidden;
}

.desktop-only {
  @include mobile {
    display: none;
  }
}

.mobile-only {
  @include desktop {
    display: none;
  }
}
