@font-face {
    font-family: 'CamptonMedium';
    src: url('./CamptonMedium.eot');
    src: url('./CamptonMedium.eot?#iefix') format('embedded-opentype'),
         url('./CamptonMedium.woff2') format('woff2'),
         url('./CamptonMedium.woff') format('woff'),
         url('./CamptonMedium.ttf')  format('truetype'),
  }
