@import "./reset.module.scss";
@import "./vars.module.scss";
@import "./fonts.module.scss";
@import "./about.module.scss";
@import "./home.module.scss";
@import "./menu.module.scss";
@import "./nav.module.scss";
@import "./advice.module.scss";
@import "./faq.module.scss";
@import "./contact.module.scss";
@import "./button.module.scss";
@import "./signup.module.scss";
@import "./cookies.module.scss";
@import "./select.module.scss";

.app-container {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.video-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;

  @include desktop {
    height: 90vh;
  }
}

.text-link {
  cursor: pointer;
  color: $black;
  position: relative;
  max-width: 120px;
  width: 100%;
  text-decoration: none;

  svg {
    transform: rotate(180deg);
    color: $black;
    min-width: 0 !important;
    position: absolute;
    right: 0px;
    top: -4px;
    stroke: black;
  }
}

.video-overlay {
  position: absolute;
  left: 0px;
  width: 100vw;
  z-index: 3;
  top: 0px;
  background-color: rgba(50, 50, 50, 0.3);
  height: 100vh;
}

.cover-video {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  -webkit-filter: sepia(50%) grayscale(0%) blur(1px) hue-rotate(190deg)
    saturate(100%);
  filter: sepia(50%) grayscale(0%) blur(1px) hue-rotate(190deg) saturate(100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-font {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.book-font {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noscroll {
  overflow: hidden;
}

.desktop-only {
  @include mobile {
    display: none;
  }
}

.mobile-only {
  @include desktop {
    display: none;
  }
}
